body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
}

.map-overlay {
  position: absolute;
  left: 20%;
  padding: 10px;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: white;
  color: black;

  grid-template-columns: 20% 70%;
  grid-template-areas:
    'sidebar map-overlay';
}

.sidebar {
  background-color: LightGray;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  font-family: Helvetica (sans-serif);
}